:root {
    --primaryColor: #27374D;
    --secondaryColor: #526D82;
    --aksenColor: #9DB2BF;
    --white: #DDE6ED;
    --monsterat: 'Montserrat', sans-serif;
    --poppins: 'Montserrat', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

